<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
  <title>イシュー詳細</title>
</head>

<body>

<div th:insert="header :: header"></div>

<div class="page-title">
  <h1>イシュー詳細</h1>
</div>

<table class="issue-table">
  <tr>
    <th>id</th>
    <th>投稿者</th>
    <th>タイトル</th>
    <th>内容</th>
    <th>期限</th>
    <th>重要度</th>
  </tr>
  <form method="post">
      <td th:text="${issue.getId()}"></td>
      <td th:text="${issue.user.getUsername()}"></td>
      <td th:text="${issue.getTitle()}"></td>
      <td th:text="${issue.getContent()}"></td>
      <td th:text="${issue.getPeriod()}"></td>
      <td th:text="${issue.getImportance()}"></td>
  </form>
</table>

<div class="button" th:if="${#authentication.name == issue.user.username}">
  <a class="update-button" th:href="@{/user/{userId}/issue/{issueId}/edit(userId=${issue.user.id}, issueId=${issue.id})}">更新</a>
    <form th:action="@{/user/{userId}/issue/{issueId}/delete(userId=${issue.user.id}, issueId=${issue.id})}" method="post">
        <input class="delete-button" type="submit" value="削除">
    </form>
</div>

<div th:insert="showComment :: showComment"></div>

<div th:insert="newComment :: newComment"></div>

</body>
</html>