<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
  <title>Title</title>
</head>
<body>

<div th:insert="~{header :: header}"></div>

<div class="page-title">
  <h1>ログイン</h1>
</div>

<div class="form">

  <p th:if="${param.error}" class="login-error" th:text="${loginError}"></p>

  <form th:action="@{/login}" method="post">

    <div class="form_title">
      <h2 class="column-title">名前</h2>
      <input type="text" id="username" name="username" autofocus="autofocus" required="required" />
    </div>

    <div class="form_title">
      <h2 class="column-title">パスワード</h2>
      <input type="password" id="password" name="password" required="required" />
    </div>

    <div class="form_submit">
      <button type="submit">ログイン</button>
    </div>
  </form>
</div>

</body>
</html>
