<html xmlns:th="http://www.thymeleaf.org" th:fragment="showComment">

<div class="page-title">
  <h2>コメント</h2>
</div>

<div class="comment-area">
  <div th:if="${#lists.isEmpty(comments)}">
    <p class="no-comment">コメントはまだありません。</p>
  </div>
  <div class="comment-wrapper" th:each="comment:${comments}">
    <div class="comment-top">
      <p><div th:text="${comment.user.username}"></div>さん</p>
    </div>
    <div class="comment-content" th:text="${comment.message}"></div>
  </div>
</div>
</html>